*{
	margin:0;
	padding: 0;
}
.authenticate{
	margin: 0 auto;
	width: 470px;
	text-align: center;
	margin-bottom: 60px;
}
.phone{
	line-height: 35px;
}
.ImmediatelyVerify{
	background: #5C88CC;
	border-radius: 4px;
	font-weight: 700;
	font-family: "MicrosoftYaHeiLight";
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0.6px;
	width: 93px;
	height: 30px;
	border:0;
	line-height: 30px;
}
.verify{
	width: 320px;
	height: 40px; 
	line-height: 40px; 
	margin: auto;
	margin-top: 60px;
}
.verify img{
	float: left;
}
.verify span{
	display :block; 
	width: 140px; 
	line-height:20px; 
	height: 38px; 
	float: left;
	margin-left: 20px;
}
/*120s获取*/
.gain{
	background: #F3F3F3;
	border: 1px solid #DFDFDF;
	border-radius: 4px;
	font-family: "MicrosoftYaHeiLight";
	font-weight: 700;
	font-size: 14px;
	color: #6F6F6F;
	width: 110px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-left: 20px;
}
/*成功*/
.successful{
	width: 100%;
	text-align: center;
}
.aa{
	display: none;
}
.show{
	display: block;
}
/*前去登陆*/

._submit{
	background: #508FF1;
	border-radius: 4px;
	color: #fff;
	height: 46px;
	width: 150px;
	font-weight: 700;
	font-family: "MicrosoftYaHei-Bold";
	font-size: 14px;
	border:none;
}






